{% include 'shared.liquid' %}

{% if kids.size > 0 %}
<div class="layout layout--col gap--space-between h--full">
    {% for kid_data in kids %}
      {% assign parts = kid_data | split: "," %}
      {% assign name = parts[0] %}
      {% assign bday_formatted = parts[2] %}
      {% assign years = parts[4] %}
      {% assign months = parts[5] %}
      {% assign days = parts[6] %}

    <div class="layout layout--col gap--medium">
        <span class="value value--medium">{{ name }}</span>
        <div class="layout layout--col">
            <span class="label">Born: {{ bday_formatted }}</span>
        </div>
        <span class="value value--small">= {{ years }}y {{ months }}m {{ days }}d</span>
    </div>
    {% unless forloop.last %}
    <div class="b-h-gray-1"></div>
    {% endunless %}
    {% endfor %}
</div>
{% else %}
<div class="layout layout--col justify-center h--full">
    <span class="label">Configure kids in plugin settings</span>
</div>
{% endif %}

<div class="title_bar">
    <span class="title">Kids Age</span>
</div>
